@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Play Sudoku <a href="/Sudoku">here</a>.</p>
    <p>Play Solitaire <a href="/Solitaire">here</a>.</p>
    <p>Play Spider Solitaire <a href="/SpiderSolitaire">here</a>.</p>
</div>
